.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    flex-shrink: 0;
  }

  &__body {
    flex: 1 0 auto;
    display: flex;
    
  }
  &__footer {
    flex-shrink: 0;
  }
}
