.message-form {
  width: 100%;
  background-color: lightseagreen;

 input{
   margin: 10px;
   padding: 15px;
   border-radius: 10px;
   width: 50%;
 }

  textarea {
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 90%;
  }

  button {
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
  }
}
