@import '../../styles/variables.scss';
.chat-content {
    position: relative;
    display: block;
    float: right;
    min-width: 300px;
    max-width: 400px;
    padding: .5rem 1rem;
    margin: 0 1.25rem .625rem 0;
    clear: both;
    color: $white;
    background-color: $primary-color;
    border-radius: .25rem;
 
    &:before {
        position: absolute;
        top: .625rem;
        right: -0.625rem;
        width: 0;
        height: 0;
        content: '';
        border: .3125rem solid transparent;
        border-left-color: $primary-color
    }
}

.chat-avatar {
    float: right
}

.chat-avatar .avatar {
    width: 1.875rem;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.chat-content>p:last-child {
    margin-bottom: 0
}

.chat-content+.chat-content:before {
    border-color: transparent
}

.chat-time {
    display: block;
    margin-top: .5rem;
    text-align: right;
    font-size: .8rem;
    color: rgba(255, 255, 255, .8)
}

.chat-left {
    .chat-avatar {
        float: left
    }
    .chat-body {
        margin-right: 0;
        margin-left: 1.875rem
    }
    .chat-content {
        float: left;
        text-align: left;
        margin: 0 0 .625rem 1.25rem;
        color: $black;
        background-color: $secondary-color;
    }
    .chat-content:before {
        right: auto;
        left: -0.625rem;
        border-right-color: $secondary-color;
        border-left-color: transparent
    }
    .chat-content+.chat-content:before {
        border-color: transparent
    }
    .chat-time {
        font-size: .8rem;
        color: rgba(0, 0, 0, .8);
    }
}

.theme-dark {
    .chat-left {
        .chat-content {
            background-color: $dark-secondary;
            color: $white;
            &:before {
                border-right-color: $dark-secondary;
            }
        }
    }
}