@font-face{
  font-family: 'ChatFont';
  font-style: normal;
  src: url("./fonts/19950.otf");
}

body {
  margin: 0;
  font-family: 'ChatFont', sans-serif;
  //font-family: -apple-system, BlinkMacSystemFont, 'ChatFont', 'Segoe UI', 'Roboto', 'Oxygen',
  //  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //  sans-serif;
  height: 100%;
  min-height: 100%;
  background-color: lightseagreen;
  position:relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
