.container{
  width:100%;
  height: 100%;
  display:flex;
}

.chat-block{
  width:30%;
  height:auto;
  background-color: lightseagreen;
}

.content-block{
  width:70%;
  background-color: lightseagreen;
}

