/* .messenger__list {
    min-height: 300px;
    border: 1px solid lightgray;
    border-width: 0 1px 1px 0px;
} */

.message-list {
    list-style: none;
    padding: 0;
    overflow-y: auto;
    max-height: 300px;
}