.message {
  width: 50%;
  padding: 0.5rem;
  margin: 0.25rem;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);

  animation: fadein 0.5s;

  &_auto {
    background-color: #fff4ce;
    align-self: flex-end;
  }

  &__text {
    margin: 0;
  }

  &__caption {
    width: 100%;
    display: inline-block;
    text-align: right;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
