.messenger {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__name {
    text-align: center;
  }

  &__list {
    border-radius: 0.2rem;
    border: 1px solid #ced4da;
  }

  &__message-form {
    flex-shrink: 0;
  }
}
